.artleft {
    text-align: left;
}

.artright {
    text-align: right;
}

.imgpost {
    width: auto;
    height: auto;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    background-color: white;
}

.ctrbottom {
    padding-bottom: 15px;
}