.header {
background-color: powderblue;
}
.fahead {
    font-size:20px; color: white;
}
.iconpage {
    width: 160px; height: 70px;
}
.slider {
    width:50%;
}
.topnews {
 
    border: solid 1px; 
    padding: 20px 20px 20px;
}
.imgslide {
    width: auto;
    height: auto;
}
.imgcenter {
    text-align: center;
}
.author {
    background-color: gray;
    color: white;
    padding: 4px;
}
.textdemo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.btnblack {
    background-color: black;
    color: powderblue;
    padding: 4px;
}
.themeblack {
    background-color: black;
    color: white;
    padding: 4px;
}



blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: gray;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:90px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}
