<div ng-init="getMyArticles()" class="container topnews">
    <div class="row">
        <div ng-repeat="x in articlesByMe">
            <a ng-init="apiGetCat()"><span class="themeblue">{{getCatNameOfArt(x._category._id)}}</span></a>
            <div class="">
                <img ng-src="{{x.media}}" alt="img">
            </div>
            <div>
                <h2>{{x.title}}</h2>
            </div>
            <a href="">
                <b>{{x.author}}</b>
            </a>
            <time>{{x.createdDate | date:'HH:mm, dd-MM-yyyy'}}</time>
            <p class="textdemo">{{x.description}}</p>
            <a href="#!/post?id={{x._id}}" class="btnblack" ng-click="apiGetArt(x._id)">Đọc tiếp</a>
        </div>
    </div>
</div>