<div ng-init="getArticleBySearchKey()" class="container topnews">
    <div class="row">
        <div class="col-md-7">
            <div ng-repeat="art in articleGetByKey.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                <div class="news">
                    <h2 class="media-heading"> <a href="#!/post?id={{art._id}}">{{art.title}}</a></h2>
                    <a><span class="themeblue">{{getCatNameOfArt(art._category)}}</span></a>
                    <i><time>{{art.createdDate | date:'HH:mm, dd-MM-yyyy'}}</time></i>
                </div>
                <div class="thumbnail">
                    <a href="#!/post?id={{art._id}}"><img ng-src="{{art.media}}" class="portrait"></a>
                </div>
                <p class="textdemo">{{art.description}}</p>
                <a href="#!/post?id={{art._id}}" class="btnblack" ng-click="apiGetArt(art._id)">Đọc tiếp</a>
                <div class="line"></div>
            </div>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
        </div>

        <div class="col-md-1">
        </div>


        <div class="col-md-4">
            <h4><span class="themeblue">Facebook</span></h4>


            <blockquote class="quote-box img-responsive">
                <p class="quotation-mark">
                    “
                </p>
                <p class="quote-text">
                    千里之行始于足下
                </p>
                <hr>
                <div class="blog-post-actions">
                    <p class="blog-post-bottom pull-left">
                        <a class="quotebox" href="https://www.facebook.com/nhieuluongducthinh">Nhiễu Lương</a>
                    </p>
                    <p class="blog-post-bottom pull-right">
                        <span class="badge quote-badge">0106</span>  ❤
                    </p>
                </div>
            </blockquote>
        </div>
    </div>
</div>